// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.new1{
   background-color: white;
   font-size: 22px;
}


    .opt {
  background-color: #eee;
  padding: 10px;
  font-size: 22px;
    }
    